body {
  color: #333;
  font-family: arial, sans-serif;
  padding-left: 1em;
}
td {
  padding:1px;
}
.desc {
  margin-top:2em;
  padding-left: 1em;
  width:45em;
}
.input, .examples, .subscriptions, .logo {
  padding-left: 1em;
}
.example, .subscription {
  line-height: 1.5em;
}
.subscription {
  margin-top: 3em;
}
.valid {
  background-color: #cfc;
  display: inline-block;
  margin-left: 1em;
  padding: 1ex;
}
.render {
  margin-left: 1em;
}
.header {
  margin-bottom: -1em;
  margin-left: -1em;
}
.footer {
  margin-top: 3em;
  font-size: 80%;
}
.footer a {
  color: #4272DB;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.title {
  margin-left: 0.5em;
  font-size: 18pt;
  position: relative;
  top: -6pt;
}
textarea {
  border-color: #ccc;
}
.submit {
  font-size: 1.5em;
}
.profiles {
  margin: 1ex 2px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 8px;
}
.infowindow {
  font-size: 10pt;
}
.debugfooter {
  padding-top: 20px;
  font-size: 10pt;
  color: #ddd;
}
.filediv {
  padding: 24px 12px;
  border: 1px solid #ccc;
  background-color: #efefef;
  width: 35em;
}
.selectfile {
  color: #666;
}
.cancelfile {
  float: right;
}
.def {
  font-size: 83%;
  color: #999;
}
.banner {
  margin: -1em 1em 1em;
  color: red;
}

